version: 2.1
jobs:
  publish_images:
    machine: true
    steps:
      - checkout
      - run: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run: |
          cd firestore-emulator
          docker build --pull -t vanmoof/firestore-emulator:latest .
          docker push vanmoof/firestore-emulator:latest
      - run: |
          cd bigtable-emulator
          docker build --pull -t vanmoof/bigtable-emulator:latest .
          docker push vanmoof/bigtable-emulator:latest
      - run: |
          cd pubsub-emulator
          docker build --pull -t vanmoof/pubsub-emulator:latest .
          docker push vanmoof/pubsub-emulator:latest


workflows:
  version: 2
  publish:
    jobs:
    - publish_images
  auto_publish:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only: master
    jobs:
      - publish_images
